#preview {
  width: 400px;
  height: 400px;
  border: 1px solid black;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.show {
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  text-align: center;
}

h3 {
  text-align: center;
  color: #4caf50;
}
