<!DOCTYPE html>
<html>
  <head>
    <title>About</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/footerHeader.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/newfile.css') }}"
    />
  </head>
  <body>
    <header>
      <a href="/"><h1>ArthoMate</h1></a>
      <ul>
        <li><a href="#">Logout</a></li>
      </ul>
    </header>
    <main style="display: grid; grid-template-columns: 1fr; margin-bottom: 5%">
      <!-- type code here -->
      <h1 style="margin-left: 0%">
        What is meant by Arthritis? What are it's causes?
      </h1>
      <div class="points">
        <ul class="mydiv">
          <li>
            Osteoarthritis is a degenerative joint disease that occurs when the
            protective cartilage that cushions the ends of bones within a joint
            gradually wears down over time.
          </li>
          <li>
            As the cartilage breaks down, bones within the joint may begin to
            rub against each other, causing pain, stiffness, and swelling.
          </li>
          <li>
            The condition is most prevalent in older adults, but it can also
            affect younger people who have had previous joint injuries or who
            engage in repetitive joint movements.
          </li>
          <li>
            Risk factors for developing osteoarthritis include age, genetics,
            obesity, joint injuries, and certain medical conditions such as
            diabetes and gout.
          </li>
          <li>
            While there is no cure for osteoarthritis, treatment options can
            help to manage pain and improve joint function, which may include
            physical therapy, medication, weight loss, and in some cases,
            surgery.
          </li>
          <li>
            Fact: Osteoarthritis is the second most common rheumatologic problem
            and it is the most frequent joint disease with a prevalence of 22%
            to 39% in India. OA is more common in women than men.
          </li>
        </ul>
      </div>
      <h1>Team Details</h1>
      <div class="team" style="margin-bottom: 5%">
        <div class="students">
          <h2>Student Details</h2>
          <div>
            <p>A Lokesh(106119009)</p>
            <p>A.A Anujan(106119011)</p>
            <p>P Methulan(106119097)</p>
          </div>
        </div>
        <div class="guide">
          <h2>Guide Detail</h2>
          <div class="guideD">
            <p>A.Santhanavijayan</p>
            <p>Assistant Professor, NIT TRICHY</p>
            <a
              href="https://www.nitt.edu/home/academics/departments/cse/faculty/vijayan/"
              ><p>To know more</p>
            </a>
          </div>
        </div>
      </div>
    </main>
    <footer>&copy; ArthoMate. All rights reserved.</footer>
  </body>
</html>
